= render "sidebar"
.span8
  %h1#header New Family / Individiual Ad
  %hr
  .well
    = render 'form'

    = link_to raw("<i class='icon-arrow-left'></i> Back"), care_receiver_profiles_path, class: "btn"
