/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
@import "bootstrap";

body { padding-top: 60px; }

@media screen and (max-width: 768px) {
    body { padding-top: 380px; }
}

#main { 
  margin: 0px 10px 0 10px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#maggieblue {
  background-color: #4B466B;
}

#maggiebeige {
  background-color: #FFFFEA;
}

#maggiepink {
  color: #EB008B;
}
.dropdown:hover .dropdown-menu {
    display: block;
 }

footer {
  margin-top: 10px;
  padding-top: 12px;
  background-color: #4B466B;
  color: white;
}

.footerLink {
  font-weight: normal;
  color: white;
  &:hover {
    color: yellow;
  }
}

.footer-text { padding-top: 10px; }

#hideOverflow {
  overflow: hidden;
  word-wrap: break-word;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

hr {
  background-color: black;
  border-bottom-color: black;
  border-top-color: black;
  margin: 5px 0px 15px 0px;
}

.pagination {
  margin-top: 5px;
  margin-bottom: 5px;
}

#index-content-actions {
  margin-top: 50px;
}

.lead {
  margin-bottom: 5px;
}

#search {
  width: 100%;
  padding: 5px 5px 5px 5px;
}

a {
  color: #EB008B;
}

.flag {
  color: #5bc0de;
}

ul.nav.nav-list.tree li a {
  padding: 5px 10px 5px 10px;
}