/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#maggieblue {
  background-color: #4B466B;
}

#maggiebeige {
  background-color: #F4F4E0; //F2F0DA;
}

#main {
  margin-top: 45px;
}
.content {
  padding: 0 0 0 0;
  color:  #4B466B;
}

h1 {
  color: green; /* #4B466B; */
  font: normal 2.5em Arial, Helvetica, sans-serif;
  letter-spacing: -1px;
}

h2 {
  font: normal 2.5em Arial, Helvetica, sans-serif;
  letter-spacing: -1px;
}

.content p {
  color: #4B466B;
  display: block;
  float: none;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.content a { color: #EB008B; }
.content a:link {color:#EB008B;}      /* unvisited link */
.content a:hover {color:#8077B7;}  /* mouse over link */

#sidebar {
  margin-left: 10px;
}
/*
$iconSpritePath: asset-path("/assets/images/glyphicons-halflings.png");
$iconWhiteSpritePath: asset-path("/assets/images/glyphicons-halflings-white.png");
*/

@import "bootstrap";
@import "bootstrap-responsive";

.box01 {
  display: block;
  max-width: $gridRowWidth;//1024px; //881px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-inner {
  background-color: whitesmoke;//4B466B; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  padding-left: 15px;
  padding-right: 2px;
}

.navbar .brand {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: none;
}

.navbar .nav > li > a {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333333; //white;
    text-shadow: 0 0px 0 #ffffff;
    padding-left: 8px;
    padding-right: 8px;

    font-size: 13px;
    font-style: normal;
    font-variant: normal;

    height: 20px;
    letter-spacing: normal;
    line-height: 20px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    outline-style: none;
    outline-width: 0px;
}

.navbar .nav > li > a:hover {
    color: #FFFFFF;//#EB008B;
    text-shadow: 0 0px 0 #8077B7;
}

.profiles {
  /* max-width: parent; */
}

hr {
  background-color: black;
  border-bottom-color: black;
  border-top-color: black;
  /*
  background-color: #4B466B;
  border-bottom-color: #4B466B;
  border-top-color: #4B466B; */
  margin: 5px 0px 15px 0px;
}

#profile_search {
  padding-top: 10px;
}
input#search {
  max-width: 190px;
}

.search {
  max-width: 198px;
}

#hideOverflow {
  overflow: hidden;

  word-wrap: break-word;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/********************************/
/* links */
a {color: #FFF;}
.nav a:hover {color: #8077B7;}
#topbar a, #footer a, #nav a{color: #fff;}
#nav a:hover{color: #fff;}

/* navigation */
#nav {
color: #fff;
background-color:#4B466B;
display:block;
float:left;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:1px 0pt 0pt;
padding:2px;
position:relative;
width: 876px;
}
#nav li {float: left; position: relative; display: inline;}
#nav li a {float: left; position: relative; display: inline; padding: 8px 10px; z-index: 100;}
#nav li ul {display: none; position: absolute; left: -3px; padding: 3.45em 0 0 0; z-index: 90; margin: 0;}
#nav li ul li {display: block; padding: 0 3px 1px 3px;background-color: #4B466B;}
#nav li ul li.lastchild {padding-bottom: 3px;}
#nav li ul li a {display: block; width: 17em; padding: 2px 10px; font-weight: normal;}
#nav li ul li a:hover {padding-left: 7px;}
#nav li:hover ul {display: block;}
nav li:hover ul {display: block;}

/* typography */
#logo {margin: 32px 0 0 0;}
#logo a {font: bold 3em Arial, Helvetica, sans-serif; text-decoration: none; letter-spacing: -2px;}
.textbkg span {padding: 0 4px 0 0; overflow: visible;}
h2 {font: normal 2.5em Arial, Helvetica, sans-serif; letter-spacing: -1px;}
.pageH2 {margin: 0 0 24px 0;}
h3 {font: normal 1.5em Arial, Helvetica, sans-serif; padding: 0 0 3px 0; margin: 9px 0 1px 0; /*background: url(images/underline.png) bottom repeat-x;*/}
h3#comments {margin-bottom: 24px;}
h3#respond {float: left; clear: both; display: block; width: 100%;}
.archive h3 {background: #F9F9EE; margin: 5px; padding: 5px;}
h4 {font: 1.3em Arial, Helvetica, sans-serif; margin: 0 0 12px 0;}
.entry h4 {padding: 0px;}
h5 {font: 2.0em Arial, Helvetica, sans-serif; margin: 0 0 12px 0;}
.entry h2 {padding: 10px 0 2px;}
.entry .textbkg span a {font-weight: normal;}
h6 {font: bold 1.5em Arial, Helvetica, sans-serif; margin: 0 0 12px 0;}
p {margin: 0 0 15px 0;}
blockquote {padding: 10px 10px 1px 10px; margin: 0 0 24px 0;}
code {position: relative; left: 0; font: 1em "Courier New", Courier, mono; }
/*
.cols01 ul, .cols02 ul {margin: 0 0 24px 14px;}
.cols01 ol, .cols02 ol {margin: 0 0 24px 21px;}
.cols01 ul ul, .cols02 ul ul, .cols01 ol ul, .cols02 ol ul {margin: 0 0 0 14px;}
.cols01 ol ol, .cols02 ol ol, .cols01 ul ol, .cols02 ul ol {margin: 0 0 0 21px;}
#topbar p, #footer p {margin-bottom: 12px;}
.date {float: right; width: 6.3em; height: 6.3em; display: none;}
.dateDay {display: block; text-align: right; margin: 5px 10px 0 0; font: bold 2.4em Arial, Helvetica, sans-serif;}
.dateMonth {display: block; text-align: right; margin: 2px 10px 0 0; font: 8px Tahoma, Arial, Helvetica, sans-serif; text-transform: uppercase;}
.dateYear {display: block; text-align: right; margin: -3px 10px 0 0; font: 8px Tahoma, Arial, Helvetica, sans-serif; text-transform: uppercase;}
.comments {float: left; clear: both; display: none; width: 100%;}
.comments a {float: left; display: none; padding: 4px 0 5px 71px; font-weight: bold; font-size: 80%;}
.comments span {float: left; display: none; background: url(images/comments_right.png) top right no-repeat; width: 10px; height: 22px; overflow: hidden;}
.archive .comments {margin-top: -46px;}
ul {margin: 0 0 24px 12px;}
ul ul {margin-bottom: 0;}
img {margin: 10px 12px 2px 0;}
.wp-smiley {float: none; margin: 0;}
*/

/* links */
a {font-weight: bold; text-decoration: none;}
#topbar a {position: relative; top: 2px; text-decoration: underline;}
#footer a {font-weight: normal;text-decoration: underline;}

h1, h2, h3, h4, h5, h6 {
  color: black;
}

footer {
  background-color: #4B466B;
  color: white;
  p {
    margin: 13px 0 0 5px;
    font-family: Verdana;
    font-size: 12px;
  }
}

a.btn.btn-danger {
  color: white;
}

a.btn {
  color: black;
}

.content a.btn.btn-primary {
  color: white;
}
.content a.btn {
  color: black;
}

.content a.btn.btn-info {
  color: white;
}
#summary-button {
  padding: 20px 0 0 10px;
}

li.dropdown:hover {
  background-color: #333333;//#8077B7;
  a.dropdown-toggle {
    color: white;
  }
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  background-image: none;
  background-color: #333333; 
}

.label {
  padding: 4px 9px 4px 9px;
}
#header {}

.flag {
}

.footerLink {
  font-weight: normal;
  &:hover {
    color: yellow;
  }
}

.highlighted {
  background-color: #d6d6d6;
}

//.navbar-inner .container {width:$gridRowWidth;}

ul.nav {
  margin-left:auto;
  margin-right:auto;
}

