/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#maggieblue {
  background-color: #4B466B;
}

#maggiebeige {
  background-color: #F2F0DA;
}


.content {
  padding: 0px 10px 10px 10px;
  color:  #4B466B;
}

h1 {
  color: #4B466B;
  font: normal 2.5em Arial, Helvetica, sans-serif;
  letter-spacing: -1px;
}

h2 {
  font: normal 2.5em Arial, Helvetica, sans-serif;
  letter-spacing: -1px;
}
.content p {
  color: #4B466B;
  display: block;
  float: none;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.content a { color: #EB008B; }
.content a:link {color:#EB008B;}      /* unvisited link */
.content a:hover {color:#8077B7;}  /* mouse over link */

.box01 {
  display: block;
  max-width: 881px;
  margin-left: auto;
  margin-right: auto;
}

#sidebar {
  margin-left: 10px;
}
@import "bootstrap";
@import "bootstrap-responsive";

.navbar-inner {
  background-color: #4B466B; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.navbar .brand {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: none;
}

.navbar .nav > li > a {
    color: white;
    text-shadow: 0 0px 0 #ffffff;
}

.navbar .nav > li > a:hover {
    color: #855464;
    text-shadow: 0 0px 0 #8077B7;
}

.profiles {
  /* max-width: parent; */
}

hr {
  background-color: #4B466B;
  border-bottom-color: #4B466B;
  border-top-color: #4B466B;
  margin: 5px 0px 15px 0px;
}

#profile_search {
  padding-top: 10px;
}
input#search {
  max-width: 198px;
  padding: 8px 0 0 0;
}

#hideOverflow {
  overflow: hidden;

  word-wrap: break-word;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/********************************/

