%footer
  .container-fluid
    .row-fluid
      .span8
        %p.text-center
          Community Works Bulletin Board brought to you with the help of our friends at:
        %p.text-center
          %small
            Maryland Center for Developmental Disabilities at Kennedy Krieger Institute
        %p.text-center
          %small
            Ziggas Design and Development
        %p.text-center
          %small
            ©2008 Maggie's Light Foundation
      .span4
        = image_tag "MCDD_logo_small.png", alt: "Maryland Center for Developmental Disabilities at Kennedy Krieger Institute", size: "300x150", style: "padding-bottom: 10px"