/.container
/.row
.span3#sidebar
  %ul.nav.nav-list.well
    %li
      %label.tree-toggle.nav-header Sort By
      %ul.nav.nav-list.tree
        %li
          = link_to "Name", root_path(params.merge(sort: "name"))
        %li
          = link_to "Age", root_path(sort: "birthday")
        %li
          %label.tree-toggle.nav-header Label
          %ul.nav.nav-list.tree
            %li
              %a{:href => "#"} Link
            %li
              %a{:href => "#"} Link
            %li
              %label.tree-toggle.nav-header Label
              %ul.nav.nav-list.tree
                %li
                  %a{:href => "#"} Link
                %li
                  %a{:href => "#"} Link
    %li.divider
    %li
      %label.tree-toggle.nav-header Label
      %ul.nav.nav-list.tree
        %li
          %a{:href => "#"} Link
        %li
          %a{:href => "#"} Link
-#
        %li
          %label.tree-toggle.nav-header Media Queries
          %ul.nav.nav-list.tree
            %li
              %a{:href => "#"} Text
            %li
              %a{:href => "#"} Images
            %li
              %label.tree-toggle.nav-header Mobile Devices
              %ul.nav.nav-list.tree
                %li
                  %a{:href => "#"} iPhone
                %li
                  %a{:href => "#"} Samsung
        %li
          %label.tree-toggle.nav-header Coding
          %ul.nav.nav-list.tree
            %li
              %a{:href => "#"} JavaScript
            %li
              %a{:href => "#"} jQuery
            %li
              %label.tree-toggle.nav-header HTML DOM
              %ul.nav.nav-list.tree
                %li
                  %a{:href => "#"} DOM Elements
                %li
                  %a{:href => "#"} Recursive