/.container
/.row
.span3
  .well
    %div
      %ul.nav.nav-list
        %li
          %label.tree-toggle.nav-header Bootstrap
          %ul.nav.nav-list.tree
            %li
              %a{:href => "#"} JavaScript
            %li
              %a{:href => "#"} CSS
            %li
              %label.tree-toggle.nav-header Buttons
              %ul.nav.nav-list.tree
                %li
                  %a{:href => "#"} Colors
                %li
                  %a{:href => "#"} Sizes
                %li
                  %label.tree-toggle.nav-header Forms
                  %ul.nav.nav-list.tree
                    %li
                      %a{:href => "#"} Horizontal
                    %li
                      %a{:href => "#"} Vertical
        %li.divider
        %li
          %label.tree-toggle.nav-header Responsive
          %ul.nav.nav-list.tree
            %li
              %a{:href => "#"} Overview
            %li
              %a{:href => "#"} CSS
            %li
              %label.tree-toggle.nav-header Media Queries
              %ul.nav.nav-list.tree
                %li
                  %a{:href => "#"} Text
                %li
                  %a{:href => "#"} Images
                %li
                  %label.tree-toggle.nav-header Mobile Devices
                  %ul.nav.nav-list.tree
                    %li
                      %a{:href => "#"} iPhone
                    %li
                      %a{:href => "#"} Samsung
            %li
              %label.tree-toggle.nav-header Coding
              %ul.nav.nav-list.tree
                %li
                  %a{:href => "#"} JavaScript
                %li
                  %a{:href => "#"} jQuery
                %li
                  %label.tree-toggle.nav-header HTML DOM
                  %ul.nav.nav-list.tree
                    %li
                      %a{:href => "#"} DOM Elements
                    %li
                      %a{:href => "#"} Recursive